<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [41]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [42]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [43]:
# Write your code here
summary = pd.DataFrame({
    'dtype': df.dtypes,
    'non_null_count': df.notnull().sum(), 
    'missing_count': df.isnull().sum() 
}) 
summary

                       dtype  non_null_count  missing_count
ResponseId             int64           65437              0
MainBranch            object           65437              0
Age                   object           65437              0
Employment            object           65437              0
RemoteWork            object           54806          10631
...                      ...             ...            ...
JobSatPoints_11      float64           29445          35992
SurveyLength          object           56182           9255
SurveyEase            object           56238           9199
ConvertedCompYearly  float64           23435          42002
JobSat               float64           29126          36311

[114 rows x 3 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [44]:
# Write your code here
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [45]:
# Write your code here
pd.set_option('display.max_colwidth', None)
for c in df['Country'].unique(): print(c)

United States of America
United Kingdom of Great Britain and Northern Ireland
Canada
Norway
Uzbekistan
Serbia
Poland
Philippines
Bulgaria
Switzerland
India
Germany
Ireland
Italy
Ukraine
Australia
Brazil
Japan
Austria
Iran, Islamic Republic of...
France
Saudi Arabia
Romania
Turkey
Nepal
Algeria
Sweden
Netherlands
Croatia
Pakistan
Czech Republic
Republic of North Macedonia
Finland
Slovakia
Russian Federation
Greece
Israel
Belgium
Mexico
United Republic of Tanzania
Hungary
Argentina
Portugal
Sri Lanka
Latvia
China
Singapore
Lebanon
Spain
South Africa
Lithuania
Viet Nam
Dominican Republic
Indonesia
Kosovo
Morocco
Taiwan
Georgia
San Marino
Tunisia
Bangladesh
Nigeria
Liechtenstein
Denmark
Ecuador
Malaysia
Albania
Azerbaijan
Chile
Ghana
Peru
Bolivia
Egypt
Luxembourg
Montenegro
Cyprus
Paraguay
Kazakhstan
Slovenia
Jordan
Venezuela, Bolivarian Republic of...
Costa Rica
Jamaica
Thailand
Nicaragua
Myanmar
Republic of Korea
Rwanda
Bosnia and Herzegovina
Benin
El Salvador
Zimbabwe
Afghanistan
Estonia
Malta
Uruguay
Belarus
Colombia
Republic of Moldova
Isle of Man
Nomadic
New Zealand
Palestine
Armenia
United Arab Emirates
Maldives
Ethiopia
Fiji
Guatemala
Uganda
Turkmenistan
Mauritius
Kenya
Cuba
Gabon
Bahamas
South Korea
Iceland
Honduras
Hong Kong (S.A.R.)
Lao People's Democratic Republic
Mongolia
Cambodia
Madagascar
Angola
Democratic Republic of the Congo
Syrian Arab Republic
Iraq
Namibia
Senegal
Kyrgyzstan
Zambia
Swaziland
Côte d'Ivoire
Kuwait
Tajikistan
Burundi
Trinidad and Tobago
Mauritania
Sierra Leone
Panama
Somalia
North Korea
Dominica
Guyana
Togo
Oman
Barbados
Andorra
Democratic People's Republic of Korea
Qatar
Sudan
Cameroon
Papua New Guinea
Bahrain
Yemen
Malawi
Burkina Faso
Congo, Republic of the...
Botswana
Guinea-Bissau
Mozambique
Central African Republic
Equatorial Guinea
Suriname
Belize
Libyan Arab Jamahiriya
Cape Verde
Brunei Darussalam
Bhutan
Guinea
Niger
Antigua and Barbuda
Mali
Samoa
Lesotho
Saint Kitts and Nevis
Monaco
Micronesia, Federated States of...
Haiti
nan
Nauru
Liberia
Chad
Djibouti
Solomon Islands

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [46]:
## Write your code here
edlevel_map = {
    "Bachelor’s degree (B.A., B.S., B.Eng., etc.)": "Bachelor's",
    "Master’s degree (M.A., M.S., M.Eng., MBA, etc.)": "Master's",
    "Some college/university study without earning a degree": "College(no degree)",
    "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)": "Secondary School",
    "Professional degree (JD, MD, Ph.D, Ed.D, etc.)": "Professional",
    "Associate degree (A.A., A.S., etc.)": "Associate",
    "Something else": "Something else"}

df['EdLevel'] = df['EdLevel'].replace(edlevel_map)

country_map = {
    "United States of America": "USA",
    "United Kingdom of Great Britain and Northern Ireland": "UK",
    "Iran, Islamic Republic of...": "Iran",
    "Republic of North Macedonia": "North Macedonia",
    "United Republic of Tanzania": "Tanzania",
    "Russian Federation": "Russia",
    "Venezuela, Bolivarian Republic of...": "Venezuela", 
    "Republic of Korea": "South Korea",
    "Bosnia and Herzegovina": "Bosina",
    "Republic of Moldova": "Moldova", 
    "United Arab Emirates": "UAE", 
    "Lao People's Democratic Republic": "Laos",
    "Democratic Republic of the Congo": "Congo",
    "Democratic Republic of Korea": "North Korea",
    "Syrian Arab Republic": "Syria", 
    "Congo, Republic of the...": "Congo",
    "Central African Republic": "Central Africa",
    "Libyan Arab Jamahiriya": "Libya",
    "Micronesia, Federated States of...": "Micronesia"}

df['Country'] = df['Country'].replace(country_map)

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [47]:
## Write your code here
employment_encoded = pd.get_dummies(df['Employment'], prefix='Employment')
df = pd.concat([df, employment_encoded], axis = 1)

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [48]:
## Write your code here
df.isnull().sum().sort_values(ascending=False).head(5)

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [49]:
## Write your code here
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].mean())

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [50]:
## Write your code here
df['RemoteWork'] = df['RemoteWork'].fillna(df['RemoteWork'].mode())

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [51]:
## Write your code here
min_ccy = df['ConvertedCompYearly'].min() 
max_ccy = df['ConvertedCompYearly'].max()

df['ConvertedCompYearly_MinMax'] = (df['ConvertedCompYearly'] - min_ccy) / (max_ccy - min_ccy)
df['ConvertedCompYearly_MinMax']

0        0.0053
1        0.0053
2        0.0053
3        0.0053
4        0.0053
          ...
65432    0.0053
65433    0.0053
65434    0.0053
65435    0.0053
65436    0.0053
Name: ConvertedCompYearly_MinMax, Length: 65437, dtype: float64

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [56]:
## Write your code here
import numpy as np
df['ConvertedCompYearly_log'] = df['ConvertedCompYearly'].apply(np.log)

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [57]:
## Write your code here
for c in df['YearsCodePro'].unique(): print(c)
df['YearsCodePro'] = df['YearsCodePro'].replace({
    'Less than 1 year': '0', 
    'More than 50 years': '50'})

df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], erros='coerce')

df['YearsCodePro'] = df['YearsCodePro'].fillna(df['YearsCodePro'].median())

df['ExperienceLevel'] = pd.cut(
    df['YearsCodePro'], 
    bins=[-1, 1, 5, 15, 50], 
    labels = ['Novice', 'Junior', 'Advanced', 'Senior'])

nan
17
27
7
11
25
12
10
3
Less than 1 year
18
37
15
20
6
2
16
8
14
4
45
1
24
29
5
30
26
9
33
13
35
23
22
31
19
21
28
34
32
40
50
39
44
42
41
36
38
More than 50 years
43
47
48
46
49

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.